.resourceEdit .operationDropDown {
	width: 152px;
}

.resourceEdit .statDropDown {
	width: 152px;
}

.resourceEdit .damageMultiplierDropDown {
	width: 152px;
}

.resourceEdit .deleteEffect {
	flex-shrink: 0;
}

.resourceEdit .resource-table-view {
	align-self: center;
	color: #757575;
	color: rgba(0,0,0,0.54);
}

.resourceEdit .iron-selected {
	color: #ad2a1f;
}
